/* Estilos gerais */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0px 1px 20px rgba(159, 159, 159, 0.65);
  height: 12vh;
  padding: 0 20px;
  top: 0;
  z-index: 10;
  background-color: #f6f6f6;
}

header nav ul {
  display: flex;
}

header nav ul li {
  padding: 20px;
}

.navegacao{
  display: flex;
  align-items: center;
}

.navegacao a {
  text-decoration: none;
  text-transform: uppercase;
  color: #777777;
  font-weight: 500;
}

/* Main */

main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 0;
  position: relative;
}

main #texto {
  width: 25%;
  display: flex;
  flex-direction: column;
}

#texto p {
  margin-bottom: 20px;
  color: #575757;
  animation: text 2.5s 1;
}


/* Form */

main form {
  width: 35%;
  display: flex;
  flex-direction: column;

  color: #9B9B9B
}

main form h1 {
  color: #575757;
}

main form input {
  border: solid 1px #9B9B9B;
}

/* 
  Aqui falamos q todo o form q tenha logo em seguida um input ou um select, pegará esse estilo 
*/

main form > input, main form > select {
  height: 26px;
}

main form > label {
 margin-top: 15px;
}

.inputGroup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.inputGroup div {
  display: flex;
  align-items: center;
}

.inputGroup div label {
  margin-left: 10px;
}

/* Propriedade CSS que muda cor de quando o input está selecionado ^^ */

input[type="checkbox"], input[type="radio"]{
  accent-color:#C2185B;
}

/* Estilos do input do tipo "file' */

input[type="file"]{
  display: none;
}

#containerFile {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}

#lblUpload {
  margin-left: 20px;
  background-color: #ccc;
  padding: 0px 50px;
  color: white;
  cursor: pointer;
  border-radius: 7px;
}

textarea {
  resize: vertical;
}

.submit {
  width: 100%;
  background-color: #C2185B;
  color: white;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  height: 30px;
  cursor: pointer;
  border-radius: 10px;
}

/* Footer */

footer {
  display: flex;
  background-color: #C2185B;
  align-items: center;
  justify-content: space-evenly;
  height: 30vh;
}

footer div {
  display: flex;
  flex-direction: column;
  color: white;
  width: 25vw;
}

footer div nav ul a {
  color: white;
}

#logo_footer img {
  width: 50%;
  max-width: 50%;
}

#logo_footer p {
  font-size: 14px;
  width: 70%;
}

#voltarAoTopo {
  background-color: #f6f6f6;
  border: solid 1px #C2185B;
  height: 30px;
  width: 120px;
  text-align: center;
  position: fixed;
  right: 50px;
  bottom: 50px;
  border-radius: 5px;
}

#social {
  background-color: #f6f6f6;
  border: solid 1px #C2185B;
  padding: 10px;
  left: 20px;
  position: fixed;
  bottom: 10%;
  width: 56px;

  animation: slide 1s 1; /*  nome da animação, duralçao e quantas vezes sera repetido*/

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#social img {
  width: 100%;
}

@keyframes slide {
  0% {
    left: -200px;
  }

  100% {
    left: 20px;
  }
}

@keyframes text {
  0%{
    color: white;
  }
  100%{
    color: #575757;
  }
}

/*  position sticky (pegajoso) se comporta como relative e depois troca pra fixed */

.navigation_dois{
  position: sticky;
  top: 0%;
  background-color: #C2185B;
  color: white;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
}

.navigation_dois p{
  z-index: 1;
}

/* botao enviar corer ao contrario 3segundos */

.submit:hover {
  animation: submit 1s 1;
}

@keyframes submit {
  0%{
    background-color: #C2185B;
    color: white;
  }
  100%{
    color: #C2185B;
    background-color: white;
  }
}